* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */

.container {
    width: 80%;
    margin: 20px auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* STILI */

header {
    background-color: pink;
    height: 100px;
}

footer {
    background-color: purple;
    height: 50px;
}

/* CLASSI */

.content-top {
    background-color: rgb(255, 255, 126);
    height: 400px;
    margin-bottom: 20px;
}

.content-bottom {
    background-color: dodgerblue;
}

.content-bottom > * {
    float: left;
    background-color: rgb(155, 203, 252);
    margin-bottom: 20px;
}

.top-fl {
    width: 100%;
    height: 50px;
}

.left-fl,
.right-fl {
    width: 23%;
    height: 400px;
}

.center-fl {
    width: 50%;
    height: 400px;
    margin: 0 2%;
}