* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */

.container {
    width: 1170px;
    margin: 20px auto;
}

/* STILI */

header {
    background-color: pink;
    height: 100px;
}

/* CLASSI */

.content-top {
    background-color: rgb(255, 255, 126);
    height: 400px;
}